<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <%= image_tag "dog-placeholder.jpg", class: "dog-image image-responsive img-center" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <%= image_tag "map-placeholder.png", class: "map-image image-responsive img-center" %>
    </div>
  </div>
</div>
