<div class="container">
  <div class="row">
    <div class="jumbotron">
      <%= image_tag "dog-placeholder.jpg", class: "dog-image image-responsive center-block" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      Lorem ipsum dolor sit amet, ut vix justo nobis, id eum suas adolescens. Stet salutatus vis in, ne duo enim consetetur moderatius, odio iudico hendrerit vis in. Ea has malis dictas. His stet partem cu, no numquam perfecto persequeris sit, pri error accusam ad. Mei ea natum appetere luptatum. No vocibus expetendis vis, et vis melius insolens. Vero sadipscing comprehensam et sed. Vel id facete placerat moderatius, ea illum malis apeirian mea. Te iuvaret eleifend dissentiunt vis, erat option intellegat ad nam. Affert percipit eu cum. Alii purto ridens est ne. Ex natum etiam pri, eam ne oporteat maluisset. Id vix inani tincidunt. Qui velit falli ea, cu ancillae dissentias usu.
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      Lorem ipsum dolor sit amet, ut vix justo nobis, id eum suas adolescens. Stet salutatus vis in, ne duo enim consetetur moderatius, odio iudico hendrerit vis in. Ea has malis dictas. His stet partem cu, no numquam perfecto persequeris sit, pri error accusam ad. Mei ea natum appetere luptatum. No vocibus expetendis vis, et vis melius insolens. Vero sadipscing comprehensam et sed. Vel id facete placerat moderatius, ea illum malis apeirian mea. Te iuvaret eleifend dissentiunt vis, erat option intellegat ad nam. Affert percipit eu cum. Alii purto ridens est ne. Ex natum etiam pri, eam ne oporteat maluisset. Id vix inani tincidunt. Qui velit falli ea, cu ancillae dissentias usu.
    </div>
  </div>

  <div class="row">
    <a href="#map" id="find-a-walk" class="btn btn-lg center-block" data-toggle="collapse" type="button">Find a Walk</a>
  </div>

  <div class="row">
    <div id="map" class="jumbotron collapse">
      <%= image_tag "map-placeholder.png", class: "map-image image-responsive center-block" %>
    </div>
  </div>
</div>
